extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Alex Rowe

        p.lead.text-light
          | Full Stack Web Developer.

        .portfolio-bio
          p
          | 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
           li Javascript
           li Node.js
           li JQuery
           li Pug
           li Express
           li C++
           li Java


        h6 Contact Info

        ul
          li a.alexrowe@gmail.com
          li (239)331-9934

        a.button.expanded(href='https://github.com/andes0113') GitHub
        a.button.expanded(href='https://twitter.com/Alex__Rowe') Twitter

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back